<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097454828280-gagbl3ia2bgej0fap5aiu835tuoco0q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097454828280-gagbl3ia2bgej0fap5aiu835tuoco0q8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGjQAchUHkLE-kE6ygKIziY4EtkJOSQvM</string>
	<key>GCM_SENDER_ID</key>
	<string>1097454828280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled4</string>
	<key>PROJECT_ID</key>
	<string>project5-8fe18</string>
	<key>STORAGE_BUCKET</key>
	<string>project5-8fe18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097454828280:ios:5f435f3aa0a4f0e8abd90d</string>
</dict>
</plist>